.center
  text-align: center

.Defeat
  color: red

.Draw
  color: orange

.Victory
  color: green

.table td
  padding: 0

/*Table style */
tr
  height: 54px

td, th
  vertical-align: middle !important

td .fa
  vertical-align: middle
