<table class="table">
  <thead>
    <tr>
      <th class="center" style="width: 5em">#</th>
      <th class="center" style="width: 5em"></th>
      <th class="center is-hidden-mobile" style="width: 7em">Change</th>
      <th class="center" style="width: 10em">Rating</th>
      <th class="center is-hidden-mobile" style="width: 14em">Map</th>
      <th class="is-hidden-mobile" colspan="2">Heroes</th>
      <th class="is-hidden-desktop"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="center">#</th>
      <th class="center"></th>
      <th class="center is-hidden-mobile">Change</th>
      <th class="center">Rating</th>
      <th class="center is-hidden-mobile">Map</th>
      <th class="is-hidden-mobile" colspan="2">Heroes</th>
      <th class="is-hidden-desktop"></th>
    </tr>
  </tfoot>
  <tbody>
    <tr><td colspan="7"><form>
      <table>
        <th class="center" style="width: 5em">{{newGameNb}}</th>
        <td style="width: 5em"></td>
        <td class="is-hidden-mobile" style="width: 7em">
          <input class="input center" type="text" placeholder="0" disabled>
        </td>
        <td class="center" style="width: 10em">
          <input class="input center" type="number"
          name="nRank" placeholder="Rating" style="max-width:85%;"
          [(ngModel)]="newRank" #rank="ngModel"
          required>
        </td>
        <td class="center is-hidden-mobile" style="width: 14em">
          <span class="select" style="max-width:85%;">
            <select [(ngModel)]="selectedMap" name="slctMap">
              <optgroup><option>None</option></optgroup>
              <optgroup *ngFor="let type of mapTypes" [label]="type.name">
                  <option [ngValue]="map" *ngFor="let map of getMaps(type.id)">
                      {{map.name}}
                  </option>
              </optgroup>
            </select>
          </span>
        </td>
        <td class="is-hidden-mobile">
          <a class="button is-primary is-outlined hero-tooltip">
            <span class="icon">
              <i class="fa fa-fw fa-plus"></i>
            </span>
          </a>
          <ng-container>
            <span *ngFor="let hero of selectedHeroes">
              <hero name="{{hero.name}}" size="game-details"></hero>
            </span>
          </ng-container>
        </td>
        <td class="td-button-add">
          <button class="button-add button is-primary"
          type="submit"
          [ngClass]="{'is-loading': isLoading, 'is-danger': webServiceError}"
          [disabled]="!rank.valid || !inRange()"
          (click)="addGame()">Add</button>
        </td>
      </table>
    </form></td></tr>
    <tr *ngFor="let game of games">
      <th class="center">{{game.game_id}}</th>
      <td class="center">
        <i class="fa fa-fw center"
        [ngClass]="{'fa-chevron-down Defeat': (game.outcome==='Defeat'),
        'fa-minus Draw': (game.outcome==='Draw'),
        'fa-chevron-up Victory': (game.outcome==='Victory')}">
      </i></td>
      <td class="center is-hidden-mobile" [ngClass]=game.outcome> <span *ngIf="game.variation>0">+</span>{{game.variation}}</td>
      <td class="center">{{game.rating}}</td>
      <td class="center is-hidden-mobile">
        <div *ngIf="game.map">{{game.map.name}}</div>
      </td>
      <td class="is-hidden-mobile" colspan="2">
          <hero *ngFor="let index of game.game_has_hero" [name]="index.hero.slug" size="game-details"></hero>
      </td>
      <td class="is-hidden-desktop"></td>
    </tr>
  </tbody>
</table>

<!-- Tooltip content -->
<div style="display: none;">
  <div class="tooltip-template">
    <hero-selection (heroClicked)="heroSelected($event)"></hero-selection>
  </div>
</div>
