<div class="columns">
  <div class="column" *ngFor="let game of lastGamesInfos">
    <div class="box"
      [ngClass]=game.outcome>
      <span class="icon is-medium" style="float:left; margin-top:8px">
        <i class="fa"
          [ngClass]="{'fa-chevron-down defeat_arrow': (game.outcome==='Defeat'),
          'fa-minus draw_arrow': (game.outcome==='Draw'),
          'fa-chevron-up victory_arrow': (game.outcome==='Victory')}"></i>
      </span>
      <h4 class="title is-4">{{game.variation}}</h4>
      <h6 class="subtitle is-6">{{game.rating}}</h6>
    </div>
  </div>
</div>
