.Defeat {
  border-style: solid;
  border-color: red;
  text-align: right;
}

.Draw {
  border-style: solid;
  border-color: orange;
  text-align: right;
}

.Victory {
  border-style: solid;
  border-color: green;
  text-align: right;
}

.defeat_arrow {
  color: red
}

.draw_arrow {
  color: orange
}

.victory_arrow {
  color: green
}
