<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">
    <div class="tile is-child" >
      <div class="tile">
        <div class="tile is-8 is-child box padd-right">
          <game-chart  *ngIf="games" [games]="games"></game-chart>
        </div>
        <div class="tile is-child box is-hidden-mobile">
          <most-played *ngIf="battletag" [tag]="battletag.tag"></most-played>
        </div>
      </div>
    </div>
    <div class="tile box is-child">
      <games-details *ngIf="games" [games]="games" [playerId]="battletag.id"></games-details>
    </div>
  </div>
</div>
