
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-parent">
      <div class="tile box is-child">
        <recent-games></recent-games>
      </div>
    </div>
    <div class="tile" >
      <div class="tile is-8 is-parent is-vertical">
        <div class="tile box is-child">
          <game-chart></game-chart>
        </div>
        <div class="tile box is-child">
        </div>
      </div>
      <div class="tile box is-child">
        Most played
      </div>
    </div>
  </div>
</div>
