<div class="most-played-div">
  <p class="subtitle is-6">Most played heroes</p>
  <div *ngIf="!isLoading">
    <div class="columns" *ngFor="let playtime of playtimes">
      <hero class="column is-1" [name]="playtime.hero"></hero>
      <div class="column is-11">
        <div id="container">
          <progress class="progress is-primary is-medium"
          [ngClass]="playtime.hero"
          [value]= "playtime.time"
          [max]="playtimes[0].time"></progress>
          <p class="time">{{playtime.time | time}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="mei-div">
    <img class="mei-loader" src="assets/mei.gif">
  </div>
</div>
