.progress.doomfist::-webkit-progress-value {
  background-color: var(--doomfist);
}
.progress.doomfist::-moz-progress-bar {
  background-color: var(--doomfist);
}

.progress.genji::-webkit-progress-value {
  background-color: var(--genji);
}
.progress.genji::-moz-progress-bar {
  background-color: var(--genji);
}

.progress.mccree::-webkit-progress-value {
  background-color: var(--mccree);
}
.progress.mccree::-moz-progress-bar {
  background-color: var(--mccree);
}

.progress.pharah::-webkit-progress-value {
  background-color: var(--pharah);
}
.progress.pharah::-moz-progress-bar {
  background-color: var(--pharah);
}

.progress.reaper::-webkit-progress-value {
  background-color: var(--reaper);
}
.progress.reaper::-moz-progress-bar {
  background-color: var(--reaper);
}

.progress.soldier-76::-webkit-progress-value {
  background-color: var(--soldier-76);
}
.progress.soldier-76::-moz-progress-bar {
  background-color: var(--soldier-76);
}

.progress.sombra::-webkit-progress-value {
  background-color: var(--sombra);
}
.progress.sombra::-moz-progress-bar {
  background-color: var(--sombra);
}

.progress.tracer::-webkit-progress-value {
  background-color: var(--tracer);
}
.progress.tracer::-moz-progress-bar {
  background-color: var(--tracer);
}

.progress.bastion::-webkit-progress-value {
  background-color: var(--bastion);
}
.progress.bastion::-moz-progress-bar {
  background-color: var(--bastion);
}

.progress.hanzo::-webkit-progress-value {
  background-color: var(--hanzo);
}
.progress.hanzo::-moz-progress-bar {
  background-color: var(--hanzo);
}

.progress.junkrat::-webkit-progress-value {
  background-color: var(--junkrat);
}
.progress.junkrat::-moz-progress-bar {
  background-color: var(--junkrat);
}

.progress.mei::-webkit-progress-value {
  background-color: var(--mei);
}
.progress.mei::-moz-progress-bar {
  background-color: var(--mei);
}

.progress.torbjorn::-webkit-progress-value {
  background-color: var(--torbjorn);
}
.progress.torbjorn::-moz-progress-bar {
  background-color: var(--torbjorn);
}

.progress.widowmaker::-webkit-progress-value {
  background-color: var(--widowmaker);
}
.progress.widowmaker::-moz-progress-bar {
  background-color: var(--widowmaker);
}

.progress.dva::-webkit-progress-value {
  background-color: var(--dva);
}
.progress.dva::-moz-progress-bar {
  background-color: var(--dva);
}

.progress.orisa::-webkit-progress-value {
  background-color: var(--orisa);
}
.progress.orisa::-moz-progress-bar {
  background-color: var(--orisa);
}

.progress.reinhardt::-webkit-progress-value {
  background-color: var(--reinhardt);
}
.progress.reinhardt::-moz-progress-bar {
  background-color: var(--reinhardt);
}

.progress.roadhog::-webkit-progress-value {
  background-color: var(--roadhog);
}
.progress.roadhog::-moz-progress-bar {
  background-color: var(--roadhog);
}

.progress.winston::-webkit-progress-value {
  background-color: var(--winston);
}
.progress.winston::-moz-progress-bar {
  background-color: var(--winston);
}

.progress.zarya::-webkit-progress-value {
  background-color: var(--zarya);
}
.progress.zarya::-moz-progress-bar {
  background-color: var(--zarya);
}

.progress.ana::-webkit-progress-value {
  background-color: var(--ana);
}
.progress.ana::-moz-progress-bar {
  background-color: var(--ana);
}

.progress.lucio::-webkit-progress-value {
  background-color: var(--lucio);
}
.progress.lucio::-moz-progress-bar {
  background-color: var(--lucio);
}

.progress.mercy::-webkit-progress-value {
  background-color: var(--mercy);
}
.progress.mercy::-moz-progress-bar {
  background-color: var(--mercy);
}

.progress.moira::-webkit-progress-value {
  background-color: var(--moira);
}
.progress.moira::-moz-progress-bar {
  background-color: var(--moira);
}

.progress.symmetra::-webkit-progress-value {
  background-color: var(--symmetra);
}
.progress.symmetra::-moz-progress-bar {
  background-color: var(--symmetra);
}

.progress.zenyatta::-webkit-progress-value {
  background-color: var(--zenyatta);
}
.progress.zenyatta::-moz-progress-bar {
  background-color: var(--zenyatta);
}
