<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" >Overwatch dashboard</a>
      <a class="nav-item is-tab is-hidden-mobile is-active" routerLink="dashboard">Dashboard</a>
      <a class="nav-item is-tab is-hidden-mobile" routerLink="stats">Ranked stats</a>
      <a class="nav-item is-tab is-hidden-mobile" routerLink="lab">Lab stats</a>
      <a class="nav-item is-tab is-hidden-mobile" routerLink="achievments">Achievments</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active" routerLink="dashboard">Dashboard</a>
      <a class="nav-item is-tab is-hidden-tablet" routerLink="stats">Ranked stats</a>
      <a class="nav-item is-tab is-hidden-tablet" routerLink="lab">Lab stats</a>
      <a class="nav-item is-tab is-hidden-tablet" routerLink="achievments">Achievments</a>

      <div class="nav-item">
        <span class="select">
          <select [(ngModel)]="selectedBattletag" (ngModelChange)="updateBattletag()">
            <option *ngFor="let battletag of battletags" [ngValue]=battletag>{{battletag.tag}}</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="container content">
  <router-outlet></router-outlet>
</div>
