.center
  text-align: center

.td-button-add
  text-align: right

.button-add
  margin-right: 5px

table th
  vertical-align: middle !important
/* Form style - remove table design */
table td, table th
  border-bottom-style: none

/* Remove arrow around number input */
/* Safari & Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
/* Firefox */
input[type=number]
  -moz-appearance: textfield
