<form style="width:100%">
  <table>

      <thead>
          <tr>
            <th class="center" style="width: 5em">#</th>
            <th class="center" style="width: 5em"></th>
            <th class="center is-hidden-mobile" style="width: 7em">Change</th>
            <th class="center" style="width: 10em">Rating</th>
            <th class="center is-hidden-mobile" style="width: 14em">Map</th>
            <th class="is-hidden-mobile" colspan="2">Heroes</th>
            <th class="is-hidden-desktop"></th>
          </tr>
        </thead>
        <tbody>
    <th class="center" colspan="1" style="width: 5em">{{newGameNb}}</th>
    <td style="width: 5em" colspan="1"></td>
    <td class="is-hidden-mobile" style="width: 7em">
      <input class="input center" type="text" placeholder="0" disabled>
    </td>
    <td class="center" style="width: 10em">
      <input class="input center" type="number"
      name="nRank" placeholder="Rating" style="max-width:85%;"
      [(ngModel)]="newRank" #rank="ngModel"
      required>
    </td>
    <td class="td-maps center is-hidden-mobile" >
      <div class="control" style="width: 14em">
      <div class="select" style="max-width:85%;">
        <select [(ngModel)]="selectedMap" name="slctMap">
          <optgroup><option>None</option></optgroup>
          <optgroup *ngFor="let type of mapTypes" [label]="type.name">
              <option [ngValue]="map" *ngFor="let map of getMaps(type.id)">
                  {{map.name}}
              </option>
          </optgroup>
        </select>
      </div>
    </div>
    </td>
    <td class="is-hidden-mobile" colspan="2">
      <a class="button is-primary is-outlined hero-tooltip">
        <span class="icon">
          <i class="fa fa-fw fa-plus"></i>
        </span>
      </a>
      <ng-container>
        <span *ngFor="let hero of selectedHeroes">
          <hero name="{{hero.name}}" size="game-details"></hero>
        </span>
      </ng-container>
    </td>
    <td class="td-button-add">
      <button class="button-add button is-primary"
      type="submit"
      [ngClass]="{'is-loading': isLoading, 'is-danger': webServiceError}"
      [disabled]="!rank.valid || !inRange()"
      (click)="addGame()">Add</button>
    </td>
  </tbody>
  </table>
</form>

<!-- Tooltip content -->
<div style="display: none;">
  <div class="tooltip-template">
    <hero-selection (heroClicked)="heroSelected($event)"></hero-selection>
  </div>
</div>
