<form style="width:100%">
  <table>
    <th class="center game-id" colspan="1">{{gameId}}</th>
    <td class="arrow" colspan="1"></td>
    <td class="change is-hidden-mobile">
      <input class="input center" type="text" placeholder="0" disabled>
    </td>
    <td class="center rank">
      <input class="input center" type="number"
      name="nRank" placeholder="Rating" style="max-width:85%;"
      [(ngModel)]="newRank" #rank="ngModel"
      required>
    </td>
    <td class="maps center is-hidden-mobile">
      <div class="control" >
      <div class="select" style="width: 12em">
        <select [(ngModel)]="selectedMap" name="slctMap">
          <optgroup><option>None</option></optgroup>
          <optgroup  *ngFor="let type of mapTypes" [label]="type.name">
              <option [ngValue]="map" *ngFor="let map of mapsByType[type.id]">
                  {{map.name}}
              </option>
          </optgroup>
        </select>
      </div>
    </div>
    </td>
    <td class="is-hidden-mobile" colspan="2" style="padding-left:0;" >
      <a class="button is-primary is-outlined hero-tooltip">
        <span class="icon">
          <i class="fa fa-fw fa-plus"></i>
        </span>
      </a>
      <ng-container>
        <span *ngFor="let hero of selectedHeroes">
          <hero name="{{hero.name}}" size="game-details"></hero>
        </span>
      </ng-container>
    </td>
    <td class="td-button-add">
      <button class="button is-primary" *ngIf="!edit"
      type="submit"
      [ngClass]="{'is-loading': isLoading, 'is-danger': webServiceError}"
      [disabled]="!rank.valid || !inRange()"
      (click)="addGame()">Add</button>

      <button class="button is-primary" *ngIf="edit"
        type="submit"
        [ngClass]="{'is-loading': isLoading, 'is-danger': webServiceError}"
        [disabled]="!rank.valid || !inRange()"
        (click)="editGame()">Edit</button>
      <button class="button is-danger" *ngIf="edit"
        type="submit"
        [ngClass]="{'is-loading': isLoading}"
        (click)="cancelEdit()">Cancel</button>
    </td>
  </table>
</form>

<!-- Tooltip content -->
<div style="display: none;">
  <div class="tooltip-template">
    <hero-selection (heroClicked)="heroSelected($event)"
      [preselectedHeroes]="gameHeroes"></hero-selection>
  </div>
</div>
